@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: rgb(206, 202, 202);
  font-family: "Muli", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

h3 {
  margin-bottom: 0;
  text-align: center;
}

small {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.fa-heart {
  color: red;
}

.loveMe {
  height: 440px;
  width: 300px;
  background: url("https://source.unsplash.com/random/500x500") no-repeat center
    center/cover;
  cursor: pointer;
  max-width: 100%;
  position: relative;
  transition: 0.3s ease;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.loveMe:hover {
  transform: scale(0.98);
  transition: 0.3s ease;
}

.loveMe .fa-heart {
  position: absolute;
  animation: grow 0.6s linear;
  transform: translate(-50%, -50%) scale(0);
}

@keyframes grow {
  to {
    transform: translate(-50%, -50%) scale(10);
    opacity: 0;
  }
}
