@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: #B7950B ;
  font-family: "Muli", sans-serif;
  color: #fff;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
}

.username {
  color: #17202A;
  font-weight: bold;
  font-size: 20px;
}

.userjob{
  color: #17202A;
  
}

.container-speed {
  position: absolute;
  bottom: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 18px;
}

input {
  width: 50px;
  padding: 5px;
  font-size: 18px;
  background-color:#FADBD8;
  border: none;
  text-align: center;
}

input:focus {
  outline: none;
}


img {
  width: 100px;
  border-radius: 50px;
  float: left;
  margin-right: 10px;
}